@import "compass/reset";
@import "grid-flex";
@import "compass/css3";

@import "modules/typography";
@import "modules/button";

body{
    font-size: 16px;
	background-color: #2c3e50;
}

.tac{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}

@import "modules/nav";
@import "modules/section";
@import "modules/footer";
