.button{
    display: inline-block;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	text-align: center;
	font-size: 1rem;
	line-height: 1;
	font-weight: 400;
	text-decoration: none;
	min-width: 90px;
	white-space: nowrap;
	padding: 1.1rem 1.4rem 1.1rem 1.4rem;
	margin: 1rem 0 1rem 0;
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
	background-color: transparent;
	color: #FFFFFF;
	@include user-select(none);
	@include appearance(none);
	@include border-radius(0);

	// @animation
    @include transition(300ms all ease-in-out !important);

    &:hover{
		@include box-shadow(inset 0 0 0 30px rgba(#ffffff, .2));
	}
}
