footer{
	background-color: #2c3e50;
	padding: 2rem;

	p{
		color: #FFFFFF;
		font-size: 1.2rem;
		margin-bottom: 0;
	}

	ul{
		li{
			display: inline-block;
			margin-right: 1rem;
			a{
				color: #ffffff;

				img{
					width: auto;
					height: auto;
					max-width: 24px;
					max-height: 24px;
					vertical-align: middle;
					margin-bottom: 0;
				}
			}
		}
	}
}
