nav{
	@include box-sizing(border-box);
	@include transition(300ms all ease-in-out);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 20;
	background-color: #FFFFFF;
	padding: 1rem gridle_get_state_var(gutter-width);

	&.scrolled{
		@include transition(300ms all ease-in-out);
		background-color: #FFFFFF;
		border-bottom: 3px solid #3498db;

		ul>li>a{
			@include transition(300ms all ease-in-out);
			color: #2c3e50;
		}

		li.active{
			a:hover{
				color: #2c3e50;
			}
		}

		.logo{
			@include transition(300ms all ease-in-out);
			max-height: 65px;
			max-width: 130px;
			margin-bottom: 0;
			vertical-align: middle;
		}
	}

	.logo{
		@include transition(300ms all ease-in-out);
		max-height: 60px;
		max-width: 190px;
	}

	ul{
		li{
			display: inline-block;
			margin-right: 1.5rem;

			&.active{
				border-bottom: 2px solid #3498db;

				a:hover{
					color: #2c3e50;
				}
			}

			&.logo{
				border-right: 1px solid #2c3e50;
				padding-right: 1.5rem;
			}

			&:last-child{
				margin-right: 0;
			}

			a{
				@include transition(300ms all ease-in-out);
				color: #2c3e50;
				text-decoration: none;
				font-size: 1.2rem;
				line-height: 2.2rem;

				&:hover{
					color: darken(#2c3e50, 30);
				}
			}
		}
	}
}
