section{
	padding: gridle_get_state_var(gutter-width)/2 0;
	position: relative;

	article{
		color: #FFFFFF;
		position: relative;
		z-index: 10;
	}

	&.list{
		background-color: #FFFFFF;
		margin: 7rem gridle_get_state_var(gutter-width) 2rem;

		table{
			width: 100%;

			thead{
				tr{
					border-bottom: 1px solid  lighten(#2c3e50, 60);
					background-color: lighten(#2c3e50, 70);

					th{
						font-weight: 600;
						padding: 1rem;
					}
				}
			}
			tbody{
				tr{
					border-bottom: 1px solid  lighten(#2c3e50, 60);

					&:hover{
						background-color: rgba(lighten(#2c3e50, 70), .5);
						cursor: pointer;
					}

					td{
						padding: 1rem;
					}
				}
			}
		}

	}

	&.contact{
		background-color: #34495e;
		padding: 0;

		.row-align-middle{
			min-height: auto;
		}

		article{
			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				margin-bottom: 0;
				display: block;
			}
		}
	}
}
