@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

body,
h1,
h2,
h3,
h4,
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
p{
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4{
    font-weight: 600;
}

p{
    font-size: 1.3rem;
    line-height: 1.6rem;
}

h1{
    font-size: 4.5rem;
    line-height: 4.8rem;

	span{
		display: none;
	}
}

h2{
    font-size: 2.8rem;
    line-height: 3.1rem;
}

h3{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
}

img{
    margin-bottom: 1rem;
}

address{
	margin-top: 2rem;
	dl{
		dt{
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-bottom: .3rem;
		}

		dd{
			font-weight: 300;
			font-size: 1.1rem;
			line-height: 1.4rem;

			a{
				@include transition(300ms all ease-in-out);
				color: #ffffff;

				&:hover{
					color: darken(#ffffff, 20);
				}
			}
		}
	}
}
